.main-navigation {
	position: relative;
	padding: 7px 0 8px;
	text-align: center;

	&__logo {
		position: absolute;
		top: 7px;
		left: 20px;
		opacity: 0;
		visibility: hidden;
		transition-duration: 0.3s;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		display: inline-block;
		margin: 0 30px;
		vertical-align: middle;

		&:hover > a,
		&.focus > a {
			color: #f5ce07;
		}
	}

	a {
		display: block;
		font-size: 13px;
		font-weight: 300;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.icon-tel {
		position: absolute;
		top: 7px;
		right: 20px;
		margin-top: 0;
		opacity: 0;
		visibility: hidden;
		transition-duration: 0.3s;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
